<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @evenement.title %>
</p>

<p>
  <b>Content:</b>
  <%= @evenement.content %>
</p>

<p>
  <b>Place:</b>
  <%= @evenement.place %>
</p>

<p>
  <b>Date:</b>
  <%= @evenement.date %>
</p>


<%= link_to 'Edit', edit_evenement_path(@evenement) %> |
<%= link_to 'Back', evenements_path %>
